@inject IMessageService MessageService
@inject ITestService TestService
@inject INotificationService NotificationService
@inject ITestStore TestStore

<Modal @ref="_modalRef" Closing="e => Task.FromResult(e.Cancel = _cancelClose)" Shadow="Shadow.Default">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>TdataArgsst</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Paragraph Class="my-2">@_testInProgress.TextToRewritten</Paragraph>
            <MemoEdit TextColor="@_currentTextColor" Placeholder="Zacznij pisać aby rozpocząć tdataArgsst..." Text="@_testInProgress.CurrentText" AutoSize TextChanged="@OnDestinationChanged" Class="my-2"/>
            <Divider DividerType="DividerType.TextContent" Text="Postęp"/>
            <Progress Value="_testInProgress.CompletionPercentage" Animated Striped></Progress>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Reset" Disabled="!_testInProgress.IsStarted">Rozpocznij od nowa</Button>
            <Button Color="Color.Secondary" Clicked="@Hide">Zakończ test</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<PleaseWaitPopup @ref="_pleaseWaitPopupRef"></PleaseWaitPopup>

@code {

    private PleaseWaitPopup _pleaseWaitPopupRef;
    private Modal _modalRef;
    private bool _cancelClose;
    private TextColor _currentTextColor = TextColor.Default;

    private TestInProgress _testInProgress = TestInProgress.EmptyTest();

    public Task Show(TypingTestType testType, string testText, string executorName)
    {
        _testInProgress = TestInProgress.InitializeTest(testText, testType, executorName);
        _cancelClose = true;
        _modalRef?.Show();
        return Task.CompletedTask;
    }

    public Task Hide()
    {
        _cancelClose = false;
        _modalRef?.Hide();
        return Task.CompletedTask;
    }

    private Task Reset()
    {
        _testInProgress = TestInProgress.InitializeTest(_testInProgress.TextToRewritten, _testInProgress.Type, _testInProgress.ExecutorName);
        return Task.CompletedTask;
    }

    private async Task OnDestinationChanged(string value)
    {
        var isCorrect = _testInProgress.UpdateCurrentText(value);
        _currentTextColor = isCorrect ? TextColor.Default : TextColor.Danger;

        if (_testInProgress.IsComplete)
            await EndTest();
    }

    private async Task EndTest()
    {
        var test = TestService.TestInProgressEnd(_testInProgress);
        await _pleaseWaitPopupRef.Show();
        await TestStore.Add(test);
        await _pleaseWaitPopupRef.Hide();
        var statisticText = $"Czas trwania - {test.Statistic.CompletionTime}. Kliknięć na sekunde - {test.Statistic.ClickPerSecond}. Skuteczność - {test.Statistic.EffectivenessPercentage}%. Błędów - {test.Statistic.Mistakes}";
        await MessageService.Info($"Statystki testu: \n\n{statisticText}", "Gratulacje!");
    }

}