@using TypingMaster.Domain.Extensions
@inject IMessageService MessageService
@inject ITestService TestService
@inject INotificationService NotificationService
@inject ITestStore TestStore

<style>
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #adb5bd;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
  color: #adb5bd;
}

.separator:not(:empty)::after {
  margin-left: .25em;
  color: #adb5bd;

}
</style>

<Modal @ref="_modalRef" Closing="e => Task.FromResult(e.Cancel = _cancelClose)" Shadow="Shadow.Default" Width="Width.Max100" >
    <ModalContent Centered Style="background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #dcdcdc 100%)">

        <ModalHeader>
            <ModalTitle>Test @(_testInProgress.Type.AsString(EnumFormat.Description))</ModalTitle>
        </ModalHeader>
        <ModalBody>
            @if (_executorNameIsValid)
            {
                <Highlighter Class="my-2" Style="@StyleHighlighter" Text="@_testInProgress.TextToRewritten" HighlightedText="@_inputText" CaseSensitive/>
                <MemoEdit Background="Background.Transparent" TextColor="@_currentTextColor" Placeholder="@Placeholder" Text="@_testInProgress.CurrentText" AutoSize TextChanged="@OnDestinationChanged" Class="my-2"/>
                <Progress>
                    <ProgressBar Value="_testInProgress.CompletionPercentage" Animated Striped/>
                </Progress>

                <div class="separator">@_testInProgress.CurrentTestTime.ToString()</div>
            }
            <Validation Validator="ValidateExecutorName">
                <TextEdit Background="Background.Transparent" Placeholder="Przedstaw się..." @bind-Text="_executorName" Disabled="_testInProgress.IsStarted"/>
            </Validation>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Clear" Disabled="@(!_testInProgress.IsStarted)">Rozpocznij od nowa</Button>
            <Button Color="Color.Secondary" Clicked="@Hide">Zamknij test</Button>
        </ModalFooter>
    </ModalContent>
   
</Modal>
<PleaseWaitPopup @ref="_pleaseWaitPopupRef"/>
<TestStatisticModalComponent @ref="_testStatisticModalRef"/>

@code {
        private const int RequiredExecutorNameLenght = 2;
        private const string StyleHighlighter = "background-color: #80bdff; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;";

    private string Placeholder => _testInProgress.IsStarted ? string.Empty : "Zacznij pisać aby rozpocząć test...";
    private PleaseWaitPopup _pleaseWaitPopupRef;
    private TestStatisticModalComponent _testStatisticModalRef;
    private Modal _modalRef;
    private bool _cancelClose;
    private TextColor _currentTextColor = TextColor.Default;
    private string _executorName = string.Empty;
    private bool _executorNameIsValid = false;


    private TestInProgress _testInProgress = TestInProgress.EmptyTest();

    private TaskCompletionSource<Test> _confirmationTask;
    private string _inputText;

    protected override async Task OnInitializedAsync()
    {
        _ = Task.Run(TestWatcher);
        await base.OnInitializedAsync();
    }

    public async Task<Test> ShowAndWaitForResult(TypingTestType testType, string testText)
    {
        try
        {
            _testInProgress = TestInProgress.InitializeTest(testText, testType);
            _confirmationTask = new TaskCompletionSource<Test>();
            _cancelClose = true;
            _modalRef?.Show();
            return await _confirmationTask.Task;
        }
        finally
        {
            await Hide();
        }
    }

    private async Task Hide()
    {
        await Clear();
        _cancelClose = false;
        _modalRef?.Hide();
    }

    private async Task Clear()
    {
        _testInProgress = TestInProgress.InitializeTest(_testInProgress.TextToRewritten, _testInProgress.Type);
        _inputText = string.Empty;
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnDestinationChanged(string value)
    {
        if (!string.IsNullOrWhiteSpace(value) && !_testInProgress.IsStarted)
            _testInProgress.StartTest();

        _inputText = value;
        var isCorrect = _testInProgress.UpdateCurrentText(value);
        _currentTextColor = isCorrect ? TextColor.Default : TextColor.Danger;
        if (_testInProgress.IsComplete)
            await EndTest();
    }

    private async Task EndTest()
    {
        await _pleaseWaitPopupRef.Show();
        var test = _testInProgress.EndTest(_executorName);
        await TestStore.Add(test);
        await _pleaseWaitPopupRef.Hide();
        await _testStatisticModalRef.Show(test);
        _confirmationTask.SetResult(test);
    }

    private void ValidateExecutorName(ValidatorEventArgs e)
    {
        var executorNamePattern = $"[A-Za-z]{{{RequiredExecutorNameLenght}}}";
        var executorNameRegex = new Regex(executorNamePattern);

        var executorName = Convert.ToString(e.Value);
        e.Status = string.IsNullOrEmpty(executorName) ? ValidationStatus.None :
            executorNameRegex.IsMatch(executorName) ? ValidationStatus.Success : ValidationStatus.Error;

        _executorNameIsValid = e.Status == ValidationStatus.Success;
    }

    private async Task TestWatcher()
    {
        while (true)
        {
            if (_testInProgress.IsStarted)
                await InvokeAsync(StateHasChanged);

            await Task.Delay(25);
        }
    }

}