@inject ApiClient ApiClient

@if (Test is not null)
{
    <table class="table table-striped table-responsive">
        <tbody>
        <tr>
            <td>Ranking</td>
            <td>
                @if (TestRanking is null)
                {
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                }
                else
                {
                    @TestRanking
                }
            </td>
        </tr>
        <tr>
            <td>Punkty</td>
            <td>@Test.Statistics?.OverallRating</td>
        </tr>
        <tr>
            <td>Typ</td>
            <td>@Test.Text.Level.Name</td>
        </tr>
        <tr>
            <td>Czas trwania</td>
            <td>@CompletionTime.Humanize() (@CompletionTime)</td>
        </tr>
        <tr>
            <td>Kliknięć na minutę</td>
            <td>@Test.Statistics.ClickPerMinute</td>
        </tr>
        <tr>
            <td>Skuteczność</td>
            <td>@(Test.Statistics.EffectivenessPercentage)%</td>
        </tr>
        </tbody>
    </table>
}

@code {
    private TimeSpan CompletionTime => TimeSpan.FromMilliseconds(Test?.Statistics.CompletionTimeMilliseconds ?? 0);
    private CancellationTokenSource _cts = new();

    [Parameter]
    [EditorRequired]
    public long? TestRanking { get; set; }

    [Parameter]
    [EditorRequired]
    public TypingTestDto? Test { get; set; }

}