@inject ApiClient ApiClient

@if (Test is not null)
{
    <table class="table table-striped table-responsive">
        <tbody>
        <tr>
            <td>@Localizer["Ranking"]</td>
            <td>
                @if (TestRanking is null)
                {
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                }
                else
                {
                    @TestRanking
                }
            </td>
        </tr>
        <tr>
            <td>@Localizer["Points"]</td>
            <td>@Test.Statistics?.OverallRating</td>
        </tr>
        <tr>
            <td>@Localizer["Type"]</td>
            <td>

                @if (string.IsNullOrWhiteSpace(LevelName))
                {
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                }
                else
                {
                    @LevelName
                }
            </td>
        </tr>
        <tr>
            <td>@Localizer["Duration"]</td>
            <td>@CompletionTime.Humanize() (@CompletionTime)</td>
        </tr>
        <tr>
            <td>@Localizer["ClicksPerMinute"]</td>
            <td>@Test.Statistics.ClickPerMinute</td>
        </tr>
        <tr>
            <td>@Localizer["Effectiveness"]</td>
            <td>@(Test.Statistics.EffectivenessPercentage)%</td>
        </tr>
        </tbody>
    </table>
}

@code {
    private TimeSpan CompletionTime => TimeSpan.FromMilliseconds(Test?.Statistics.CompletionTimeMilliseconds ?? 0);
    private CancellationTokenSource _cts = new();

    [Parameter]
    [EditorRequired]
    public string? LevelName { get; set; }

    [Parameter]
    [EditorRequired]
    public long? TestRanking { get; set; }

    [Parameter]
    [EditorRequired]
    public TypingTestDto? Test { get; set; }

}